/* @import (less) "~antd/dist/antd.css"; */
@import "~antd/dist/antd";
/* @import "~antd/dist/antd.less"; */
/* @import "~antd/lib/style/themes/default.less"; */
/* @import "~node_modules/antd/lib/style/themes/default.less"; */

/* node_modules\antd\lib\style\themes */

/* @import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/default.less"; */

/* E:\Edu\antd-demo\node_modules\antd\lib\style\themes */

/* .ant-btn.custom-btn {
  height: 64px;
} */

/* .ant-btn.custom-btn {
   height: @height-lg;
 } */
/* @height-lg */

.new-line {
  white-space: pre-line;
}

.span1 {
  font-family: Roboto, sans-serif;
  font-size: 40px;
}

.span2 {
  font-family: sans-serif;
  font-size: 40px;
}

.span3 {
  font-family: Roboto;
  font-size: 40px;
}
/* @font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji'; */

.span4 {
  font-family: -apple-system;
  font-size: 40px;
}
.span5 {
  font-family: BlinkMacSystemFont;
  font-size: 40px;
}
.span6 {
  font-family: "Segoe UI";
  font-size: 40px;
}
.span7 {
  font-family: "Apple Color Emoji";
  font-size: 40px;
}
.span8 {
  font-family: "Segoe UI Symbol";
  font-size: 40px;
}
.span9 {
  font-family: "Segoe UI Emoji";
  font-size: 40px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
